@model SocialTap.WEB.ViewModels.RatingViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="bodyR">
    <div class="row">
        <img id="imgAuto"style="display: block; margin: 0 auto;" id="img_logo" alt="Logo" height="200" width="270" src="https://dl.dropboxusercontent.com/s/ppblheo5ln4mk0x/pwl-logo-fp.jpg" />
    </div>

    <div style="  width: 100%;">

        @using (Html.BeginForm("Index", "Home", FormMethod.Post,
                                new { enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(x => x.Latitude, new { latitude = "Latitude" })
            @Html.HiddenFor(x => x.Longitude, new { longitude = "Longitude" })
            <div class="col-md-offset-4">
                <label for="file">Upload Image:</label>
                <div class="form-group">
                    <span class="btn btn-default btn-file" style="width:380px;">
                        Select
                        <input class="btn btn-default" type="file" name="file" id="file" style="width: 100%;" />
                    </span>
                    @if (ViewBag.NoFile != null)
                    {
                        <p class="text-danger">@ViewBag.NoFile</p>
                    }
                </div>
                <div class="form-group">
                    <label>Pubs</label>
                    @Html.DropDownListFor(model => model.LocationId, new SelectList(Model.Locations, "Id", "Name"), "", new { @class = "form-control HomePage", @placeholder = "Pubs" })
                    @Html.ValidationMessageFor(model => model.LocationId, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="row col-md-offset-4">
                <input id="updateButton" type="submit" value="Submit" class="btn btn-success btn-lg disabled" />
            </div>

            if (@ViewBag.Error != "")
            {<br />
            <p style="color:red; text-align: center; font-size:18px; font-weight:bold;">@ViewBag.Error</p>
            }
        }

    </div>
</div>
    <script type="text/javascript">
       
            if (sessionStorage.getItem("latitude") === null && sessionStorage.getItem("longitude") === null) {
                console.log("axxx");
                function initMap() {
                    infoWindow = new google.maps.InfoWindow;
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            var pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };
                             console.log("axxx")
                             document.getElementById("Latitude").value = (parseFloat(position.coords.latitude));
                             document.getElementById("Longitude").value = (parseFloat(position.coords.longitude));
                             console.log("axxx")
                             document.getElementById("updateButton").classList.remove("disabled");
                            sessionStorage.setItem("latitude", parseFloat(position.coords.latitude));
                            sessionStorage.setItem("longitude", parseFloat(position.coords.longitude));

                        });
                    } 
                } 
            }   
            else {
                document.getElementById("updateButton").classList.remove("disabled");

                var lat = parseFloat(sessionStorage.getItem("latitude"));
                var lng = parseFloat(sessionStorage.getItem("longitude"));
                console.log(lat);
                document.getElementById("Latitude").value = lat;
                console.log(lat);
                document.getElementById("Longitude").value = lng;
                console.log(lat);
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtwsIAijZ2TTUVQ3tz2u_YuDPpiBXEF6k&callback=initMap">
        </script>
