<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SocialTap</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
    <link href="@Url.Content("~/Content/LayoutStyle.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SocialTap", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Upload
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Add a new drink", "Post", "Drinks")</li>
                                <li>@Html.ActionLink("Add a new pub", "Post", "Locations")</li>
                                <li>@Html.ActionLink("Add a new Award", "PostAward", "Awards")</li>
                            </ul>
                        </li>

                        <li class="Show"><a><i class="glyphicon glyphicon-shopping-cart"></i><span class="badge" id="notCount"></span></a></li>
                        <li>@Html.ActionLink("Your Points", "ShowPoints", "Locations")</li>
                        




                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Show
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Show bars", "ShowBars", "Locations")</li>
                                <li>@Html.ActionLink("Show drinks", "GetAllDrinks", "Drinks")</li>
                            </ul>
                        </li>
                    }
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody() 
        <footer class="footerPosition">
            <hr />
            <p>&copy; @DateTime.Now.Year - SocialTap</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/notify")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/Scripts/React/Notifications.jsx")"></script>
</body>
</html>
<script type="text/javascript">
   
    $(document).ready(function () {


        $(".Show").click(function () {
    
            $.post("/api/notifications", function (data) {
                GettingData();
            });
        })


        GettingData();
        function GettingData() {
            string: [];
            $.ajax({
                url: '/api/notifications',

                type: 'GET',

                dataType: 'json',

                success: function (data, textStatus, xhr) {
                    var countVar = 0;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].IsRead == false) {
                            countVar++;
                        }
                    }
                    console.log(countVar);
                    $('#notCount').text(countVar);
                    string = data;
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in a Database');
                }
            });
        }
        setInterval(GettingData, 5000);
        $(".Show").popover({
            html: true,
            title: "Notifications",
            content: function () {
                var notification = "";
                notification += "<ul>"
                for (var i = string.length - 1; i >= 0; i--)
                {
                    notification += "<li>";
                    if (string[i].IsRead == false) {
                        notification += "<b>" + string[i].Notification + "</b>";
                    }
                    else {
                        notification += string[i].Notification;
                    }
                   
                    notification += "</li>";
                   
                }
                notification +="</ul>"
                return notification;
            },
            placement: "bottom"
        })
    })
</script>