@model  SocialTap.Services.Services.PagedService<SocialTap.DataAccess.Models.Drink>

@{
    ViewData["Title"] = "Index";
}

<p style="font-size:28px;">Drinks List</p>
<hr />


<form>
    <p>Name</p>   
    <div class="form-group">
       
        <div class="col-md-3 row">
           
            @Html.TextBox("SearchString", null, new {@class="form-control"})
        </div>
            <input class="btn btn-success" type="submit" value="Search" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "GetAllDrinks", new { sortOrder = @ViewData["NameSortParm"], currentFilter = @ViewData["CurrentFilter"] })
            </th>
            <th>
                @Html.ActionLink("Price", "GetAllDrinks", new { sortOrder = @ViewData["PriceSortParm"], currentFilter = @ViewData["CurrentFilter"] })
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = Model.HasPreviousPage ? "" : "disabled";
    var nextDisabled = Model.HasNextPage ? "" : "disabled";
    var pageLeft = Model.PageIndex - 1;
    var pageRight = Model.PageIndex + 1;
}
@if(prevDisabled == "disabled")
{
    <button class="btn btn-default disabled" >Previous</button>
}
else
{
@Html.ActionLink("Previous", "GetAllDrinks", new { sortOrder = @ViewData["CurrentSort"], page = @pageLeft, currentFilter = @ViewData["CurrentFilter"] }, new { @class = "@prevDisabled btn btn-default" })
}
@if (nextDisabled == "disabled")
{
    <button class="btn btn-default disabled">Next</button>
}
else {
    @Html.ActionLink("Next", "GetAllDrinks", new { sortOrder = @ViewData["CurrentSort"], page = @pageRight, currentFilter = @ViewData["CurrentFilter"] }, new { @class = "@nextDisabled btn btn-default" })
    }


