@model SocialTap.Contract.DataContracts.LocationDrinkDto
@{
    ViewBag.Title = "InsertRating";
}

<div class="col-md-12">
    <div class="col-md-6">
        <h4>@Model.PubName</h4>
        <p>@Model.Address</p>
        <hr />
        <p>Your rating of a drink - @Model.Rating</p>


        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Drink Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var drink in Model.Drinks)
        {
                <tr>
                    <th scope="row">1</th>
                    <td>@drink.Name</td>
                    <td>@drink.Price</td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div class="col-md-6" >
        <div id="map" style="height:91.5vh; margin-bottom:30px; padding-top: 40px; width: 100%; padding: 0; margin: 0">
            <script type="text/javascript">
                function initMap() {
                    // map options
                    var options = {
                        zoom: 16,
                        center: { lat: 54.687157, lng: 25.279652 }
                    }
                    // new map
                    var map = new google.maps.Map(document.getElementById('map'), options);
                    //marker Add
                    var marker = new google.maps.Marker({
                        position: {lat: @Model.Latitude, lng: @Model.Longitude},
                        map: map,
                        icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
                    });
                    // when we click on the flag, the text field with an input should pop out
                    var infoWindow = new google.maps.InfoWindow({
                        content: '<h3 style="color:black">@Model.PubName</h3> <h4 style="color:black">@Model.Address</h4>  <input type="text" class="form-control" placeholder="Put your rating"> '
                    });
                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtwsIAijZ2TTUVQ3tz2u_YuDPpiBXEF6k&callback=initMap">
            </script>
        </div>
    </div>
    </div>
