@model SocialTap.Contract.DataContracts.LocationDrinkDto
@{
    ViewBag.Title = "InsertRating";
}
<div class="col-md-12">

        <div class="col-md-6">
            <h2>@Model.PubName</h2>
            <p>@Model.Address Street</p>
            <hr />
            <p>Your volume of a drink <bold style="font-size:35px; color:royalblue; font-style:normal;">@Model.Rating %</bold></p>
            <table id="rating" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Drink Name</th>
                        <th>Price</th>
                        <th>Rating</th>
                        <th>History</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var drink in Model.Drinks)
                    {
                        <tr>
                            <td><button data-rating-id="@drink.Id" class="btn-link sendRating">Rate</button></td>
                            <td>@drink.Name</td>
                            <td>@drink.Price</td>
                            @if(drink.RatingAverage == null)
                            {
                                <td>No Rating</td>
                            }
                            else
                            {
                                <td>@string.Format("{0:0.00}", drink.RatingAverage)</td>
                            }
                            <td><a href="http://localhost:59427/Drinks/Edit/@drink.Id">Check History</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    <div class="col-md-6">
        <div id="map" style="height:70.5vh; width: 95.5vh; margin-bottom:30px; padding-top: 40px; width: 100%; padding: 0; margin: 0">
            <script type="text/javascript">
                function initMap() {
                    // map options
                    var options = {
                        zoom: 16,
                        center: { lat: parseFloat(@ViewBag.Latitude), lng:parseFloat(@ViewBag.Longitude) }
                    }
                    // new map
                    var map = new google.maps.Map(document.getElementById('map'), options);
                    //marker Add

                    var marker = new google.maps.Marker({
                        position: { lat: parseFloat(@ViewBag.Latitude), lng: parseFloat(@ViewBag.Longitude)},
                        map: map,
                        icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'
                    });
                    // when we click on the flag, the text field with an input should pop out
                    var infoWindow = new google.maps.InfoWindow({
                        content: '<h3 style="color:black">Your Location</h3> '
                    });
                    marker.addListener('click', function () {
                        infoWindow.open(map, marker);
                    });
                }
            </script>
            <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtwsIAijZ2TTUVQ3tz2u_YuDPpiBXEF6k&callback=initMap">
            </script>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".sendRating").on("click", function () {
                var button = $(this);
                var locId = @ViewBag.LocationId;
                console.log(locId);
                var selectId = $(this).attr("data-rating-id")
                
                bootbox.confirm("Insert your rating?", function (result) {
                    if (result) {
                        $.post("http://localhost:59427/api/drinks/postRating", {
                            rating: @Model.Rating,
                            drinkId: selectId
                        });


                        $.post("http://localhost:59427/api/ratings/?LocationId=@ViewBag.LocationId", {
                       //     locationId: locId    
                        });
                    }
                });
            });
        });
    </script>    
    }