@model SocialTap.Contract.DataContracts.LocationFeedbackDto
@{
    ViewBag.Title = "Post";
}

<h2>Post new feedback</h2>
<hr />

@using (Html.BeginForm("Post", "LocationFeedback", FormMethod.Post))
{

 @*   @Html.TextBoxFor(model => model.Location.Id, new { @class = "form-control", @placeholder = "LocationId" })
    @Html.ValidationMessageFor(m => m.Location.Id)
     *@

    <input type="hidden" value=@ViewBag.id name="LocationId" />
    <br />
    @Html.TextBoxFor(model => model.Feedback, new { @class = "form-control", @placeholder = "Feedback" })
    @Html.ValidationMessageFor(m => m.Feedback)
    <br />
    @Html.TextBoxFor(model => model.User, new { @class = "form-control", @placeholder = "User" })
    @Html.ValidationMessageFor(m => m.User)
    <br />
    
    <input type="submit" value="Submit" class="btn btn-success btn-lg" />
    <button class="btn btn-success btn-lg" type="button" onclick="location.href='@Url.Action("showbars", "locations")'">Cancel</button>
}
@if (ViewBag.Message != "")
{
    <p style="color:green; font-size: 20px; text-align:center">@ViewBag.Message</p>
}
