@model IEnumerable<SocialTap.Contract.DataContracts.LocationFormDto>
@{
    ViewData["Title"] = "ShowBars";
}

<h2>Show Bars</h2>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-md-6">
                <div class="panel-body">
                    <!-- <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Insert"/>-->
                    <form>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Find by name:</label>
                                @Html.TextBox("SearchString")
                            </div>
                            <div class="col-md-push-5">
                                <input class="btn btn-success" type="submit" value="Search" />
                            </div>
                        </div>
                    </form>

                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.ActionLink("Name", "ShowBars", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.searchString != "" ? ViewBag.SearchString : null })</th>
                                <th>@Html.ActionLink("Address", "ShowBars", new { sortOrder = ViewBag.AddressSortParm, searchString = ViewBag.searchString != "" ? ViewBag.SearchString : null })</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@Html.ActionLink(item.Name, "showFeedback", "locationfeedback", new { id = item.Id}, null)</td>
                                    <td>@item.Address</td>
                                    <td>@item.Latitude</td>
                                    <td>@item.Longitude</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
    </div>
</div>
    </div>


